<?php

/*
 * This file is part of the YesWiki Extension groupmanagement.
 *
 * Authors : see README.md file that was distributed with this source code.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

use YesWiki\Groupmanagement\Controller\GroupController;

echo $this->wiki->services->get(GroupController::class)->renderTemplate(compact([
    'fiches',
    'info_res',
    'param',
    'pager_links',
    'filters'
]),__FILE__,$this->twigLoader->getPaths("bazar"));